In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('./sport/double-sports/data.xls')
data.head()

,Название,Описание,Цена
0,Велосипеды / Велосипеды / Туринги / AUTHOR / В...,Хромолевый грэвел (gravel) Author RONIN 2019 г...,84000
1,Велосипеды / Велосипеды / Горные / BERGAMONT /...,"Универсальный горный велосипед, который отличн...",43450
2,Велосипеды / Велосипеды / Горные / BERGAMONT /...,"Универсальный горный велосипед, который отличн...",43450
3,Велосипеды / Велосипеды / Горные / BERGAMONT /...,В 2018 году компания Bergamont решила объедини...,43450
4,Велосипеды / Велосипеды / Горные / BERGAMONT /...,В 2018 году компания Bergamont решила объедини...,43450

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 3 columns):
Название    886 non-null object
Описание    865 non-null object
Цена        886 non-null int64
dtypes: int64(1), object(2)
memory usage: 20.8+ KB

In [8]:
data.to_excel('./sport/double-sports/data_cleaned.xls', index=False)
data = pd.read_excel('./sport/double-sports/data_cleaned.xls')

In [9]:
slots = set()
def process(text, ind=0):
    x = text
    
    x = x.strip().lower().split('~')[0]
    x = x.split('/')[:3]
    x = [x_.strip() for x_ in x if len(x_.strip()) > 0]
    slots.update(x)
    
    return text

data['Название'].apply(process)
slots

{'686',
 'airblaster',
 'amplifi',
 'anon',
 'anteater',
 'arbor',
 'bern',
 'bmx',
 'bonus gloves',
 'buff',
 'burton',
 'clwr',
 'cool zone',
 'dc',
 'dragon',
 'flow',
 'gnu',
 'head',
 'howl',
 'joint',
 'jones',
 'lib tech',
 'lidakis',
 'lopoma',
 'losraketos',
 'merge4',
 'nandn',
 'oakley',
 'only',
 'prime',
 'prosurf',
 'quiksilver',
 'red',
 'romp',
 'roxy',
 'sims',
 'spy+',
 'terror',
 'thirtytwo',
 'today',
 'true spin',
 'union',
 'viking',
 'vonzipper',
 'балаклавы и бафы',
 'банданы',
 'ботинки',
 'велосипеды',
 'горные',
 'городские',
 'двухподвесы',
 'детские',
 'жилетки',
 'защита',
 'комбинезоны',
 'крепления',
 'крепления и сноуборд trs',
 'куртки городские',
 'куртки сноубордические',
 'маски',
 'носки',
 'одежда',
 'перчатки и варежки',
 'рюкзаки',
 'сноубординг',
 'сноуборды',
 'стрит',
 'термобелье',
 'толстовки',
 'туринги',
 'футболки',
 'фэтбайки',
 'циклокросс',
 'чехлы',
 'шапки',
 'шлемы',
 'шоссейные',
 'штаны сноубордические'}

In [10]:
len(slots)

78

In [11]:
data = pd.read_excel('./sport/gold-standart.com/data.xls')
data.head()

,Наименование,Описание,Цена
0,Наборы спортивного питания~Комбо-набор Mad God...,MAD DRUGS GOD OF WHEY.Размер порции: 2 мерные ...,2200 руб
1,Наборы спортивного питания~Комбо-набор 2 Ligan...,Спортивное питание FrogTechLigandrol (Лигандро...,2890 руб
2,Наборы спортивного питания~Комбо-набор Ligandr...,Спортивное питание FrogTechIbutamoren (Ибутамо...,3990 руб
3,Наборы спортивного питания~Комбо-набор 2 Ligan...,Спортивное питание FrogTechLigandrol (Лигандро...,4990 руб
4,Наборы спортивного питания~Комбо-набор Ligandr...,Спортивное питание FrogTechIbutamoren (Ибутамо...,4990 руб

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 3 columns):
Наименование    1121 non-null object
Описание        998 non-null object
Цена            1121 non-null object
dtypes: object(3)
memory usage: 26.4+ KB

In [13]:
def to_num(text):
    return int(''.join(text.replace('руб', '').split()))

In [14]:
data['Цена'] = data['Цена'].apply(to_num)

In [15]:
data.to_excel('./sport/gold-standart.com/data_cleaned.xls', index=False)

In [16]:
data = pd.read_excel('./sport/gold-standart.com/data_cleaned.xls')
data.head()

,Наименование,Описание,Цена
0,Наборы спортивного питания~Комбо-набор Mad God...,MAD DRUGS GOD OF WHEY.Размер порции: 2 мерные ...,2200
1,Наборы спортивного питания~Комбо-набор 2 Ligan...,Спортивное питание FrogTechLigandrol (Лигандро...,2890
2,Наборы спортивного питания~Комбо-набор Ligandr...,Спортивное питание FrogTechIbutamoren (Ибутамо...,3990
3,Наборы спортивного питания~Комбо-набор 2 Ligan...,Спортивное питание FrogTechLigandrol (Лигандро...,4990
4,Наборы спортивного питания~Комбо-набор Ligandr...,Спортивное питание FrogTechIbutamoren (Ибутамо...,4990

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 3 columns):
Наименование    1121 non-null object
Описание        998 non-null object
Цена            1121 non-null int64
dtypes: int64(1), object(2)
memory usage: 26.4+ KB

In [18]:
def process_gold(text, ind=0):
    slots.update(text.strip().lower().split('~')[:1])
    
    return text

data['Название'].apply(process_gold)
slots

{'686',
 'airblaster',
 'amplifi',
 'anon',
 'anteater',
 'arbor',
 'bern',
 'bmx',
 'bonus gloves',
 'buff',
 'burton',
 'clwr',
 'cool zone',
 'dc',
 'dragon',
 'flow',
 'gnu',
 'head',
 'howl',
 'joint',
 'jones',
 'lib tech',
 'lidakis',
 'lopoma',
 'losraketos',
 'merge4',
 'nandn',
 'oakley',
 'only',
 'prime',
 'prosurf',
 'quiksilver',
 'red',
 'romp',
 'roxy',
 'sims',
 'spy+',
 'terror',
 'thirtytwo',
 'today',
 'true spin',
 'union',
 'viking',
 'vonzipper',
 'аксессуары',
 'активное долголетие',
 'аминокислоты',
 'балаклавы и бафы',
 'банданы',
 'ботинки',
 'бустеры гормона роста',
 'велосипеды',
 'витамины и минералы',
 'гейнеры (белки+углеводы)',
 'горные',
 'городские',
 'готовые напитки',
 'двухподвесы',
 'детские',
 'диетическое питание',
 'для питомцев',
 'жилетки',
 'жиросжигатели',
 'защита',
 'комбинезоны',
 'креатин',
 'крепления',
 'крепления и сноуборд trs',
 'куртки городские',
 'куртки сноубордические',
 'маски',
 'наборы спортивного питания',
 'нитробустеры',
 'носки',
 'ночные восстановители',
 'одежда',
 'одежда женская',
 'одежда мужская',
 'перчатки и варежки',
 'посттренировочные комплексы и восстановители',
 'предтренировочные комплексы',
 'протеины',
 'рюкзаки',
 'сноубординг',
 'сноуборды',
 'специальные препараты',
 'спортивный перекус',
 'стрит',
 'термобелье',
 'тестобустеры',
 'толстовки',
 'туринги',
 'углеводы',
 'футболки',
 'фэтбайки',
 'хондропротекторы (глюкозамин, хондроитин)',
 'циклокросс',
 'чехлы',
 'шапки',
 'шлемы',
 'шоссейные',
 'штаны сноубордические',
 'энергетики'}

In [19]:
data = pd.read_excel('./sport/pro-bike/data.xls')
data.head()

                                            Название  Описание         Цена
0  Велосипеды~Горный велосипед~Alpine Bike 1000S ...       NaN  11 490 pуб.
1  Велосипеды~Детский велосипед~Alpine Bike F1 (2...       NaN  20 490 pуб.
2  Велосипеды~Горный велосипед~Stels Navigator 66...       NaN  17 400 pуб.
3  Велосипеды~Дорожный велосипед~Schwinn Alu 7 Wo...       NaN  19 500 pуб.
4  Велосипеды~Детский велосипед~Schwinn Baywood 2...       NaN  10 700 pуб.

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15228 entries, 0 to 15227
Data columns (total 3 columns):
Название    15228 non-null object
Описание    0 non-null float64
Цена        10981 non-null object
dtypes: float64(1), object(2)
memory usage: 357.0+ KB

In [21]:
data = data.dropna(subset=['Цена'])

In [22]:
def to_num_gold(text):
    return int(''.join(text.replace('pуб.', '').split()))

In [23]:
data['Цена'] = data['Цена'].apply(to_num_gold)

In [24]:
data.head()

                                            Название  Описание   Цена
0  Велосипеды~Горный велосипед~Alpine Bike 1000S ...       NaN  11490
1  Велосипеды~Детский велосипед~Alpine Bike F1 (2...       NaN  20490
2  Велосипеды~Горный велосипед~Stels Navigator 66...       NaN  17400
3  Велосипеды~Дорожный велосипед~Schwinn Alu 7 Wo...       NaN  19500
4  Велосипеды~Детский велосипед~Schwinn Baywood 2...       NaN  10700

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10981 entries, 0 to 15227
Data columns (total 3 columns):
Название    10981 non-null object
Описание    0 non-null float64
Цена        10981 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 343.2+ KB

In [26]:
data.to_excel('./sport/pro-bike/data_cleaned.xls', index=False)

In [27]:
data = pd.read_excel('./sport/pro-bike/data_cleaned.xls')
data.head()

                                            Название  Описание   Цена
0  Велосипеды~Горный велосипед~Alpine Bike 1000S ...       NaN  11490
1  Велосипеды~Детский велосипед~Alpine Bike F1 (2...       NaN  20490
2  Велосипеды~Горный велосипед~Stels Navigator 66...       NaN  17400
3  Велосипеды~Дорожный велосипед~Schwinn Alu 7 Wo...       NaN  19500
4  Велосипеды~Детский велосипед~Schwinn Baywood 2...       NaN  10700

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10981 entries, 0 to 10980
Data columns (total 3 columns):
Название    10981 non-null object
Описание    0 non-null float64
Цена        10981 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 257.4+ KB

In [30]:
def process_bike(text, ind=0):
    slots.update(text.strip().lower().split('~')[:2])
    return text

data['Название'].apply(process_bike)
slots

{'686',
 'airblaster',
 'amplifi',
 'anon',
 'anteater',
 'arbor',
 'bern',
 'bmx',
 'bmx велосипед',
 'bonus gloves',
 'buff',
 'burton',
 'clwr',
 'cool zone',
 'dc',
 'dragon',
 'flow',
 'gnu',
 'head',
 'howl',
 'joint',
 'jones',
 'lib tech',
 'lidakis',
 'lopoma',
 'losraketos',
 'merge4',
 'nandn',
 'oakley',
 'only',
 'prime',
 'prosurf',
 'quiksilver',
 'red',
 'romp',
 'roxy',
 'sims',
 'spy+',
 'terror',
 'thirtytwo',
 'today',
 'true spin',
 'union',
 'viking',
 'vonzipper',
 'аксессуары',
 'активное долголетие',
 'аминокислоты',
 'балаклавы и бафы',
 'банданы',
 'ботинки',
 'бустеры гормона роста',
 'веломайки',
 'велосипеды',
 'витамины и минералы',
 'гейнеры (белки+углеводы)',
 'горные',
 'горный велосипед',
 'городские',
 'готовые напитки',
 'двухподвесы',
 'детские',
 'детский велосипед',
 'диетическое питание',
 'для питомцев',
 'дорожный велосипед',
 'жилетки',
 'жиросжигатели',
 'защита',
 'защитная экипировка',
 'комбинезоны',
 'креатин',
 'крепления',
 'крепления и сноуборд trs',
 'куртки городские',
 'куртки сноубордические',
 'маски',
 'наборы спортивного питания',
 'нитробустеры',
 'носки',
 'ночные восстановители',
 'одежда',
 'одежда женская',
 'одежда мужская',
 'перчатки и варежки',
 'посттренировочные комплексы и восстановители',
 'предтренировочные комплексы',
 'протеины',
 'рюкзаки',
 'самокат',
 'самокаты',
 'сноубординг',
 'сноуборды',
 'специальные препараты',
 'спортивный перекус',
 'стрит',
 'термобелье',
 'тестобустеры',
 'толстовки',
 'туринги',
 'углеводы',
 'футболки',
 'фэтбайки',
 'хондропротекторы (глюкозамин, хондроитин)',
 'циклокросс',
 'чехлы',
 'шапки',
 'шлемы',
 'шоссейные',
 'шоссейный велосипед',
 'штаны сноубордические',
 'электровелосипед',
 'энергетики'}

In [31]:
data = pd.read_excel('./sport/tramontana.ru/data.xls')
data.head()

,Название,Описание,Цена
0,Одежда~Брюки~Утепленные брюки~Брюки SIVERA Сул...,Женские мембранные штаны на синтетическом утеп...,6 440 ₽
1,Одежда~Куртки~Мембранные куртки~Куртка The Nor...,Легкая и компактная куртка для для защиты от н...,17 900 ₽
2,Снаряжение для промышленного альпинизма~Сидушк...,Рабочее сиденье PODIUM обеспечивает комфорт пр...,13 700 ₽
3,Альпинизм и скалолазание~Страховочные системы~...,Очень комфортная обвязка для продвинутого лаза...,9 160 ₽
4,Снаряжение для промышленного альпинизма~Спуско...,Самостраховка ASAP’SORBER International исполь...,3 090 ₽

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3605 entries, 0 to 3604
Data columns (total 3 columns):
Название    3599 non-null object
Описание    3487 non-null object
Цена        3602 non-null object
dtypes: object(3)
memory usage: 84.6+ KB

In [33]:
data = data.dropna(subset=['Цена'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3602 entries, 0 to 3604
Data columns (total 3 columns):
Название    3596 non-null object
Описание    3484 non-null object
Цена        3602 non-null object
dtypes: object(3)
memory usage: 112.6+ KB

In [34]:
def to_num_tramontana(text):
    return int(''.join(str(text).replace('₽', '').split()))

In [35]:
data['Цена'] = data['Цена'].apply(to_num_tramontana)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3602 entries, 0 to 3604
Data columns (total 3 columns):
Название    3596 non-null object
Описание    3484 non-null object
Цена        3602 non-null int64
dtypes: int64(1), object(2)
memory usage: 112.6+ KB

In [36]:
data.to_excel('./sport/tramontana.ru/data_cleaned.xls', index=False)
data = pd.read_excel('./sport/tramontana.ru/data_cleaned.xls')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3602 entries, 0 to 3601
Data columns (total 3 columns):
Название    3596 non-null object
Описание    3484 non-null object
Цена        3602 non-null int64
dtypes: int64(1), object(2)
memory usage: 84.5+ KB

In [37]:
def process_tramontana(text, ind=0):
    slots.update(str(text).strip().lower().split('~')[:2])
    return text

data['Название'].apply(process_tramontana)
slots

{'686',
 'airblaster',
 'amplifi',
 'anon',
 'anteater',
 'arbor',
 'bern',
 'bmx',
 'bmx велосипед',
 'bonus gloves',
 'buff',
 'burton',
 'clwr',
 'cool zone',
 'dc',
 'dragon',
 'flow',
 'gnu',
 'head',
 'howl',
 'joint',
 'jones',
 'lib tech',
 'lidakis',
 'lopoma',
 'losraketos',
 'merge4',
 'nan',
 'nandn',
 'nite ize. steelie',
 'oakley',
 'only',
 'prime',
 'prosurf',
 'quiksilver',
 'red',
 'romp',
 'roxy',
 'sims',
 'spy+',
 'terror',
 'thirtytwo',
 'thule',
 'today',
 'true spin',
 'union',
 'viking',
 'vonzipper',
 'аксессуары',
 'активное долголетие',
 'альпинизм и скалолазание',
 'аминокислоты',
 'балаклавы и бафы',
 'банданы',
 'бахилы, гамаши',
 'блоки-ролики и полиспасты',
 'ботинки',
 'брюки',
 'бустеры гормона роста',
 'веломайки',
 'велосипеды',
 'веревки и стропы',
 'веревки, шнуры, стропы',
 'витамины и минералы',
 'газовое оборудование',
 'гамаки',
 'гейнеры (белки+углеводы)',
 'горнолыжное снаряжение',
 'горные',
 'горный велосипед',
 'городская обувь',
 'городские',
 'готовые напитки',
 'двухподвесы',
 'детские',
 'детский велосипед',
 'диетическое питание',
 'для питомцев',
 'дорожный велосипед',
 'еда',
 'жилетки',
 'жилеты',
 'жиросжигатели',
 'зажимы',
 'зажимы для промышленного альпинизма',
 'зацепы и фингерборды',
 'защита',
 'защита для промышленного альпинизма',
 'защитная экипировка',
 'зимняя обувь',
 'инструмент',
 'ито',
 'карабины',
 'карабины и коннекторы',
 'каски спортивные',
 'клифа 5.14 с подколен. петлёй правая',
 'коврики. подушки. полотенца',
 'комбинезоны',
 'креатин',
 'крепления',
 'крепления и сноуборд trs',
 'кроссовки',
 'куртки',
 'куртки городские',
 'куртки сноубордические',
 'ледовое снаряжение',
 'магнезия спортивная',
 'маски',
 'маты',
 'мебель',
 'мешочки для магнезии',
 'молотки',
 'наборы спортивного питания',
 'нитробустеры',
 'носки',
 'ночные восстановители',
 'оборудование для организации страховки',
 'обувь',
 'обувь для альпинизма и спортивного туризма',
 'одежда',
 'одежда женская',
 'одежда мужская',
 'оттяжки',
 'очки',
 'перчатки и варежки',
 'петли',
 'петли, самостраховки, стремена',
 'печатная продукция',
 'платья и юбки',
 'подарочные сертификаты',
 'посттренировочные комплексы и восстановители',
 'посуда',
 'походное снаряжение',
 'предтренировочные комплексы',
 'привязи',
 'протеины',
 'разгрузки',
 'рубашки, толстовки, свитера',
 'рюкзаки',
 'самокат',
 'самокаты',
 'самостраховки и амортизаторы рывка',
 'сандалии',
 'сидушки для промышленного альпинизма',
 'скальные туфли',
 'слэклайны',
 'снаряжение для арбористики',
 'снаряжение для промышленного альпинизма',
 'сноубординг',
 'сноуборды',
 'спальные мешки',
 'специальные препараты',
 'спортивный перекус',
 'спусковые и страховочные устройства',
 'страховочные системы',
 'стремена. лесенки',
 'стрит',
 'такелажные звенья для промышленного альпинизма',
 'термобелье',
 'тестобустеры',
 'толстовки',
 'точки страховки',
 'треккинговая обувь',
 'треккинговые палки',
 'туринги',
 'туристические палатки',
 'углеводы',
 'украшения',
 'фильтры',
 'фонари',
 'фонари для промышленного альпинизма',
 'футболки',
 'фэтбайки',
 'хондропротекторы (глюкозамин, хондроитин)',
 'циклокросс',
 'чехлы',
 'шапки',
 'шлемы',
 'шоссейные',
 'шоссейный велосипед',
 'штаны сноубордические',
 'электровелосипед',
 'электроника',
 'энергетики'}

In [ ]:
#iHerb

In [55]:
end_slots = set()
for slot in slots:
    end_slots.update(slot.replace('"','').split(', '))

In [56]:
end_slots = [slot.strip()  for slot in end_slots if len(slot.strip()) > 0]

In [57]:
slots = pd.Series(list(end_slots))

In [58]:
slots.to_csv('./sport/slots.csv', index=False)

In [59]:
len(slots)

190